RateIt.Web.Ground/Service References/RateItWebService/RateItFacade6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/RateIt.Web/RateItFacade.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RateIt.Common.Core.Entities.Users" />
  <xs:import schemaLocation="http://localhost/RateIt.Web/RateItFacade.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/RateIt.Common.Core.QueryResults" />
  <xs:import schemaLocation="http://localhost/RateIt.Web/RateItFacade.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/RateIt.Common.Core.Entities.Stores" />
  <xs:import schemaLocation="http://localhost/RateIt.Web/RateItFacade.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/RateIt.Common.Classes" />
  <xs:import schemaLocation="http://localhost/RateIt.Web/RateItFacade.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RateIt.Common.Core.Constants" />
  <xs:element name="UserRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RateIt.Common.Core.Entities.Users" minOccurs="0" name="registrationInfo" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RateIt.Common.Core.QueryResults" minOccurs="0" name="UserRegisterResult" nillable="true" type="q2:BaseQueryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RateIt.Common.Core.Entities.Users" minOccurs="0" name="loginInfo" nillable="true" type="q3:UserLoginInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RateIt.Common.Core.QueryResults" minOccurs="0" name="UserLoginResult" nillable="true" type="q4:UserLoginQueryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLogout">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RateIt.Common.Core.Entities.Users" minOccurs="0" name="sessionInfo" nillable="true" type="q5:UserSessionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RateIt.Common.Core.QueryResults" minOccurs="0" name="UserLogoutResult" nillable="true" type="q6:BaseQueryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RateIt.Common.Core.Entities.Users" minOccurs="0" name="sessionInfo" nillable="true" type="q7:UserSessionInfo" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/RateIt.Common.Core.Entities.Stores" minOccurs="0" name="registrationInfo" nillable="true" type="q8:Store" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RateIt.Common.Core.QueryResults" minOccurs="0" name="StoreRegisterResult" nillable="true" type="q9:BaseQueryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoresAtLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/RateIt.Common.Core.Entities.Users" minOccurs="0" name="sessionInfo" nillable="true" type="q10:UserSessionInfo" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/RateIt.Common.Classes" minOccurs="0" name="location" nillable="true" type="q11:GeoPoint" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/RateIt.Common.Core.Constants" minOccurs="0" name="areaLevel" type="q12:StoreQueryAreaLevel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoresAtLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/RateIt.Common.Core.QueryResults" minOccurs="0" name="GetStoresAtLocationResult" nillable="true" type="q13:StoreListQueryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>