RateIt.Web.Ground/Service References/RateItWebService/RateItFacade.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RateItFacade" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/RateIt.Web/RateItFacade.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/RateIt.Web/RateItFacade.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/RateIt.Web/RateItFacade.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RateIt.Common.Core.Entities.Users" />
      <xsd:import schemaLocation="http://localhost/RateIt.Web/RateItFacade.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RateIt.Common.Core.Entities" />
      <xsd:import schemaLocation="http://localhost/RateIt.Web/RateItFacade.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RateIt.Common.Core.Constants" />
      <xsd:import schemaLocation="http://localhost/RateIt.Web/RateItFacade.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/RateIt.Common.Core.QueryResults" />
      <xsd:import schemaLocation="http://localhost/RateIt.Web/RateItFacade.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/RateIt.Common.Core.Entities.Stores" />
      <xsd:import schemaLocation="http://localhost/RateIt.Web/RateItFacade.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/RateIt.Common.Core.Classes" />
      <xsd:import schemaLocation="http://localhost/RateIt.Web/RateItFacade.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/RateIt.Common.Core.Entities.Products" />
      <xsd:import schemaLocation="http://localhost/RateIt.Web/RateItFacade.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost/RateIt.Web/RateItFacade.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/MongoDB.Bson" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRateItController_UserRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:UserRegister" />
  </wsdl:message>
  <wsdl:message name="IRateItController_UserRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IRateItController_UserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="IRateItController_UserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IRateItController_UserLogout_InputMessage">
    <wsdl:part name="parameters" element="tns:UserLogout" />
  </wsdl:message>
  <wsdl:message name="IRateItController_UserLogout_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserLogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IRateItController_StoreRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:StoreRegister" />
  </wsdl:message>
  <wsdl:message name="IRateItController_StoreRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:StoreRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IRateItController_GetStoresAtLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStoresAtLocation" />
  </wsdl:message>
  <wsdl:message name="IRateItController_GetStoresAtLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStoresAtLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IRateItController_ProductRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductRegister" />
  </wsdl:message>
  <wsdl:message name="IRateItController_ProductRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IRateItController_GetProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="IRateItController_GetProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:portType name="IRateItController">
    <wsdl:operation name="UserRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/IRateItController/UserRegister" message="tns:IRateItController_UserRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRateItController/UserRegisterResponse" message="tns:IRateItController_UserRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IRateItController/UserLogin" message="tns:IRateItController_UserLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRateItController/UserLoginResponse" message="tns:IRateItController_UserLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserLogout">
      <wsdl:input wsaw:Action="http://tempuri.org/IRateItController/UserLogout" message="tns:IRateItController_UserLogout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRateItController/UserLogoutResponse" message="tns:IRateItController_UserLogout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StoreRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/IRateItController/StoreRegister" message="tns:IRateItController_StoreRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRateItController/StoreRegisterResponse" message="tns:IRateItController_StoreRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStoresAtLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IRateItController/GetStoresAtLocation" message="tns:IRateItController_GetStoresAtLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRateItController/GetStoresAtLocationResponse" message="tns:IRateItController_GetStoresAtLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/IRateItController/ProductRegister" message="tns:IRateItController_ProductRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRateItController/ProductRegisterResponse" message="tns:IRateItController_ProductRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IRateItController/GetProducts" message="tns:IRateItController_GetProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRateItController/GetProductsResponse" message="tns:IRateItController_GetProducts_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRateItController" type="tns:IRateItController">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserRegister">
      <soap:operation soapAction="http://tempuri.org/IRateItController/UserRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap:operation soapAction="http://tempuri.org/IRateItController/UserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogout">
      <soap:operation soapAction="http://tempuri.org/IRateItController/UserLogout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreRegister">
      <soap:operation soapAction="http://tempuri.org/IRateItController/StoreRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStoresAtLocation">
      <soap:operation soapAction="http://tempuri.org/IRateItController/GetStoresAtLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductRegister">
      <soap:operation soapAction="http://tempuri.org/IRateItController/ProductRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="http://tempuri.org/IRateItController/GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RateItFacade">
    <wsdl:port name="BasicHttpBinding_IRateItController" binding="tns:BasicHttpBinding_IRateItController">
      <soap:address location="http://localhost/RateIt.Web/RateItFacade.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>