RateIt.Web.Ground/Service References/RateItWebService/RateItFacade.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RateIt.Common.Core.QueryResults" elementFormDefault="qualified" targetProductNamespace="http://schemas.datacontract.org/2004/07/RateIt.Common.Core.QueryResults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/RateIt.Web/RateItFacade.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/RateIt.Common.Core.Entities.Stores" />
  <xs:complexType name="BaseQueryResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseQueryResult" nillable="true" type="tns:BaseQueryResult" />
  <xs:complexType name="UserLoginQueryResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseQueryResult">
        <xs:sequence>
          <xs:element name="SessionId" nillable="true" type="xs:base64Binary" />
          <xs:element name="UserId" nillable="true" type="xs:base64Binary" />
          <xs:element name="UserProductName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserLoginQueryResult" nillable="true" type="tns:UserLoginQueryResult" />
  <xs:complexType name="StoreListQueryResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseQueryResult">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RateIt.Common.Core.Entities.Stores" name="Stores" nillable="true" type="q1:ArrayOfStore" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StoreListQueryResult" nillable="true" type="tns:StoreListQueryResult" />
</xs:schema>