RateIt.Web.Ground/Service References/RateItWebService/RateItFacade7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RateIt.Common.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RateIt.Common.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GeoPoint">
    <xs:sequence>
      <xs:element name="Latitude" type="xs:double" />
      <xs:element name="Longitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeoPoint" nillable="true" type="tns:GeoPoint" />
  <xs:complexType name="GeoSize">
    <xs:sequence>
      <xs:element name="Height" type="xs:unsignedInt" />
      <xs:element name="Width" type="xs:unsignedInt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeoSize" nillable="true" type="tns:GeoSize" />
</xs:schema>